<toaster-container></toaster-container>

<ngx-spinner bdColor="rgba(51,51,51,0.7)" size = "large" color = "#fff" type = "ball-clip-rotate"></ngx-spinner>

<router-outlet></router-outlet>

<router-outlet name="popup"></router-outlet>
<!--<jhi-footer></jhi-footer>-->
