<!-- NAVBAR-->
<nav class="navbar bg-red navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <h1 class="text-light">CGI</h1>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-4">
      <li class="nav-item active" *ngIf="isAdmin()">
        <a class="text-light" routerLink="/../lista-utilizadores" routerLinkActive="active">Lista de utilizadores</a>
      </li>
    </ul> 
  </div>
  <div class="user-thumbnail mr-4" *ngIf="user ">
    <img [ngbPopover]="popContent" triggers="manual" (click)="p.toggle()" #p="ngbPopover" popoverTitle="{{user.firstName}} {{user.lastName}}" src="../../../content/images/user-logo.png"
      alt="..." class="rounded-circle img-thumbnail d-none d-sm-block">
  </div>  

</nav>
<!-- NAVBAR END -->

<div class="container-fluid p-5 ">
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #popContent>
  <ul class="list-group list-group-flush" style="width: 10rem">
    <a class="list-group-item list-group-item-action flex-column align-items-start" routerLink="/dados-pessoais" (click)="p.close()"
      routerLinkActive="active">
      Dados pessoais
    </a>
    <a (click)="logout()" class="list-group-item list-group-item-action flex-column align-items-start">
      Logout
    </a>
  </ul>
</ng-template>