<div class="container">
    <div class="card card-container">

        <h4 class="card-title">Recuperação de Password</h4>
        <hr/>

        <div class="alert alert-danger" *ngIf="keyMissing">
            <strong>Chave de reposição em falta.</strong>
        </div>

        <div class="alert alert-warning" *ngIf="!success && !keyMissing">
            <p>Escolha uma nova palavra-passe.</p>
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <p>A sua palavra-passe não pode ser reposta. O pedido de reposição da palavra-passe é válido apenas por 24 horas.</p>
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch">
            A palavra-passe e a sua confirmação devem ser iguais!
        </div>

        <div *ngIf="!keyMissing">
            <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="password">Nova palavra-passe</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel" placeholder="Nova palavra-passe"
                        [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger" *ngIf="passwordInput.errors.required">
                            A palavra-passe é obrigatória.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength">
                            A palavra-passe deve ter pelo menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength">
                            A palavra-passe não pode ter mais de 50 caracteres.
                        </small>
                    </div>
                    <hab-password-strength-bar [passwordToCheck]="resetAccount.password"></hab-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmação de nova palavra-passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirme a nova palavra-passe"
                        [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                            A confirmação da palavra-passe é obrigatória.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                            A confirmação da palavra-passe deve ter pelo menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                            A confirmação da palavra-passe não pode ter mais de 50 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Repor a palavra-passe</button>
            </form>
        </div>
    </div>
</div>