<h2>Aplicações CGI</h2>
<hr/>
<div class="row">

    <div *ngFor="let app of apps" class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{app.applicationName}}</h5>
                <p class="card-text">{{app.applicationDescription}}
                </p>
                <a href={{app.applicationUrl}} class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>
</div>