<div class="container pt-4 pb-5">

        <h3>Dados Pessoais</h3>
        <hr/>

        <div class="form-group row col-12 mt-4">
            <div class="col-1">
                <label for="nomeInput" class="col-form-label float-right">Nome:</label>
            </div>
            <input type="text" [ngModel]='fullName' class="form-control col-6" name="nomeInput" disabled>
        </div>

        <div class="form-group row col-12 mt-4">
            <div class="col-1">
                <label for="usernameInput" class="col-form-label float-right">Utilizador:</label>
            </div>
            <input type="text" [ngModel]='currentUser.login' class="form-control col-6" name="usernameInput" disabled>
        </div>

        <div class="form-group row col-12 mt-4">
            <div class="col-1">
                <label for="emailInput" class="col-form-label float-right">E-mail:</label>
            </div>
            <input type="text" [ngModel]='currentUser.email' class="form-control col-6" name="emailInput" disabled>
        </div>

        <div class="form-group row col-12 mt-4">
            <div class="col-1">
               
                <label for="roleInput" class="col-form-label float-right">Authorities:</label>
            </div>
            
            
            <input type="text" [ngModel]="authorities" class="form-control col-6" name="roleInput" disabled>
        </div>

        <br>

        <div class="col-12">
             <button class="btn btn-primary" (click)="fechar()">Fechar</button>
        </div>

</div>