<h3>Lista de utilizadores</h3>
<hr/>
<form class="" (ngSubmit)="procurar()" #procuraForm="ngForm" autocomplete="off">
    <div class="form-row">
        <!-- Utilizador -->
        <div class="col-6">
            <div class="row form-group">
                <label for="nome" class="col-form-label col-lg-2 col-12">Utilizador:</label>
                <div class="col-lg-10 col-12">
                    <input type="text" [(ngModel)]="login" class="form-control" name="nome" placeholder="Filtre por utilizador">
                </div>
            </div>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Procurar</button>
        </div>
    </div>
</form>

<div class="row pt-4 table-responsive d-none d-lg-block">
    <table class="table table-hover" *ngIf="usersPage != null && usersPage.totalElements > 0">
        <thead>
            <tr>
                <th scope="col">Utilizador</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersPage.content">
                <td>{{user.login}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button  class="btn btn-primary float-right" (click)="abrirDetalhes(user)"><i class="fa fa-pencil"></i></button>
                </td>
                <!-- <td>
                    <button  class="btn btn-primary" (click)="editarDetalhes(user.login)">editarDetalhes</button>
                </td> -->
            </tr>
        </tbody>
    </table>
    <div *ngIf="!usersPage || usersPage.totalElements === 0" class="col-12 text-center">
        Sem dados para mostrar
    </div>
</div>
<div class="row">
    <div class="d-none d-lg-block col-sm-8 offset-sm-2">
        <ngb-pagination class="d-flex justify-content-left" *ngIf="usersPage != null && usersPage.totalElements !== 0" [collectionSize]="pagination.totalElements"
            [pageSize]="10" [maxSize]="10" [(page)]="pagination.page" [boundaryLinks]="true" [rotate]="true" (pageChange)="procurar(true)"></ngb-pagination>
    </div>
</div>