<div class="container pt-4 pb-5">

    <div class="form-group row col-10 mt-1">
        <button class="btn btn-primary mr-4" (click)="goBackPage()"><i class="fa fa-arrow-left"></i></button>
        <h3>Detalhes Utilizador</h3>
    </div>


    <hr/>
    
    {{currentUser | json}}
    
    <form #userForm="ngForm">
        <div class="form-group row col-12 mt-4">
            <div class="col-1">
                <label for="nomeInput" class="col-form-label ">Nome:</label>
            </div>
            <input type="text" [(ngModel)]='fullName' class="form-control col-4" name="nomeInput" id="nomeInput" maxlength="20">
        </div>

        <div class="form-group row col-12 mt-4">
            <div class="col-1">
                <label for="usernameInput" class="col-form-label">User: </label>
            </div>
            <input type="text" [(ngModel)]='currentUser.login' class="form-control col-4" name="usernameInput" disabled>
        </div>

        <div class="form-group row col-12 mt-4">
            <div class="col-1">
                <label for="emailInput" class="col-form-label">E-mail:</label>
            </div>
            <input type="text" [(ngModel)]='currentUser.email' class="form-control col-4" name="emailInput" disabled>
        </div>
        <p></p>
        <h3>Authorities</h3>
        <hr/>

        <div class="form-horizontal row col-12">
            <div class="col-3" *ngFor="let a of auth">
                <label class="col-10" for="checkbox{{i}}" formLabel>{{a.authorityName}}</label>
                <input class="col-1" type="checkbox" (change)="toggleEditable($event,a)" id="checkbox{{i}}" [checked]="compareAuth(a)" checklist-value="a.authorityName"><br>
            </div>
        </div>

        <i class="fas fa-arrow-alt-circle-left"></i>



        <div class=" pt-4 center-block float-right">
            <button type="submit" class="btn btn-success" (click)="getValue()"><i class="fa fa-save"></i> &nbsp; Gravar</button>
        </div>


    </form>


  


</div>